.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10rem;
}

.searchBox {
	width: 70%;
	font-family: sans-serif;
	font-size: 2rem;
	max-width: 32rem;
	height: 4rem;
	border-radius: 55px;
	border: none;
	padding: 30px;
	box-sizing: border-box;
	transition: box-shadow 0.2s ease-in-out;
}

.placeholder {
	color: #65657b;
	font-family: sans-serif;
	position: relative;
	pointer-events: none;
	top: -59.2px;
	font-family: var(--font);
	font-size: 2rem;
	transition: transform 200ms, color 200ms;
}
.searchBox:not(:placeholder-shown) ~ .placeholder,
.searchBox:focus ~ .placeholder {
	/* box-shadow: inset 0px 0px 0px 2px #d88231; */
	color: black;
	transform: translateY(-45px) translateX(-50%) scale(0.75);
}
.svg {
	top: 42%;
	position: absolute;
}

.view {
	opacity: 1;
	display: flex;
	width: 80%;
	background-color: black;
	margin: 60px auto 0 auto;
	transition: opacity 200ms ease-out;
	height: 90px;
	border-radius: 30px;
	color: white;
	padding: 30px;
	box-sizing: border-box;
	align-items: center;
}
.invisible {
	opacity: 0;
	/* transition: opacity 2000ms ease-out; */
}
.orderNumber {
	display: inline-block;
	font-family: var(---font);
	font-size: 30px;
}
.read {
	display: inline-block;
	margin-left: auto;
}
.download {
	display: inline-block;
}
.svg:hover,
.read:hover,
.download:hover {
	cursor: pointer;
}

@media (max-width: 566.4px) {
	.placeholder {
		font-size: 20px;
		vertical-align: center;
	}
	/* .svg {
		right: 40%;
		margin-left: auto;
		top: 0px;
	} */
	.searchBox {
		height: 60px;
		padding: 2px;
	}
	.orderNumber {
		font-size: 10px;
	}
}
