.container {
	display: flex;
	flex-direction: row;
	padding: 10px 64px 0 64px;
	justify-content: space-between;
	margin-top: 90px;
	margin-top: 40px;
	box-sizing: border-box;
}
.mobile {
	display: none;
}
@media (max-width: 966.4px) {
	.container {
		display: none;
	}
	.mobile {
		display: block;
	}
}
