html,
body {
	margin: 0;
	padding: 0;
}
h1,
p {
	margin: 0 0 1em;
}
.App {
	top: 0;
	height: 100vh;
	overflow: hidden;
	width: calc(100vw);
	background: linear-gradient(
		0deg,
		rgba(32, 244, 104, 0.58) 0.92%,
		rgba(241, 127, 255, 0) 60%
	);
}
.logo {
	text-align: center;
	padding: 20px;
}
