html,
body {
	margin: 0;
	padding: 0;
	background: #ff5043;
}
h1,
p {
	margin: 0 0 1em;
}

.logo {
	position: absolute;
	margin-left: 48%;
	top: 30px;
	text-align: center;
	z-index: 5;
}
:root {
	--font: 'Baloo Tamma 2', cursive;
}
